<!DOCTYPE html>

<html>

   <head>
      <title>File Metadata</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>

      <div class="container">
        <h2>API Project: File Metadata Microservice</h2>
        <h3>Пожелания пользователя (User stories):</h3>
        <ol>
          <li>Я могу отправить форму, которая включает в себя отправку файла.</li>
          <li>В поле ввода файла формы атрибут "name" имеет значение "upfile". Мы полагаемся на это при тестировании.</li>
          <li>Когда я отправлю что-то, я получу в JSON ответе имя файла и размер в байтах</li>
        </ol>

        <h3>Использование:</h3>
        <p>
          Пожалуйста, отправьте файл ...
        </p>
        <div class="view">
          <h4 id="output"></h4>
          <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
            <input id="inputfield" type="file" name="upfile">
            <input id="button" type="submit" value="Отправить">
          </form>
        </div>
      </div>
      <div class="footer">
        <p>
          by 
          <a href="http://www.freecodecamp.com">freeCodeCamp</a>
        </p>
      </div>
   </body>


</html>
